:root {
    --white: #fff;
    --black: #333;
    --primary: #4E7F6A;
    --primary2: #274035;
    --primary3: #67d4a5;
    --secondary: #f89646;
    --textCol: #999;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #0c0c0c;
  background-color: var(--white);
  overflow-x: hidden;
}

section {
  max-width: 1400px;
  margin: auto;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.container_border_style {
  position: relative;
  padding: 20px;
}

.container_border_style::before, .container_border_style::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 3px;
  height: 90px;
  background-color: var(--primary);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container_border_style::before {
  left: 0;
}

.container_border_style::after {
  right: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section.header_inner {
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
}

.navbar-brand span {
  font-weight: bold;
  color: var(--black);
  font-size: 24px;
  text-transform: uppercase;
}

.custom_nav-container {
  padding: 10px 0;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  position: relative;
  padding: 5px 20px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease;
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover {
    transform: translateY(-3px);
    box-shadow: inset 0 -1px 0 0 var(--white);
}

.custom_nav-container .navbar-nav .nav-item .nav-link::before,
.custom_nav-container .navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--secondary); /* Màu của border-bottom */
  transition: width 0.3s ease-in-out;
}

.custom_nav-container .navbar-nav .nav-item .nav-link::before {
  left: 50%;
  transform: translateX(-50%);
}

.custom_nav-container .navbar-nav .nav-item .nav-link::after {
  right: 50%;
  transform: translateX(50%);
}

.custom_nav-container .navbar-nav .nav-item .nav-link:hover::before,
.custom_nav-container .navbar-nav .nav-item .nav-link:hover::after {
  width: 50%;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: var(--black);
  margin: 0 20px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: var(--black);
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

/*end header section*/
/* slider section */
.slider_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 90px;
  position: relative;
}

.slider_section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 500px;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  background-color: #ebf3fa;
  z-index: -1;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  margin-bottom: 15px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
}

.slider_section .detail-box a {
  margin: 5px;
  width: 175px;
  text-align: center;
}

.slider_section .detail-box .btn-1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--primary);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider_section .detail-box .btn-1:hover {
  background-color: transparent;
  color: var(--primary);
}

.slider_section .detail-box .btn-2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--secondary);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider_section .detail-box .btn-2:hover {
  background-color: transparent;
  color: var(--secondary);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin-top: 60px;
}

.slider_section .carousel-indicators li {
  opacity: 1;
  background-color: var(--secondary);
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 15px;
}

.slider_section .carousel-indicators li.active {
  width: 25px;
  background-color: var(--primary);
}

.offer_section .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.offer_section .box {
  margin: 15px;
  height: 100%;
  position: relative;
  min-height: 175px;
}

.offer_section .box img {
  width: 100%;
  min-height: 100%;
}

.offer_section .box .detail-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white);
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.offer_section .box .detail-box h2 {
  font-weight: bold;
}

.offer_section .box .detail-box a {
  display: inline-block;
  padding: 8px 40px;
  border: 1px solid var(--secondary);
  background: var(--secondary);
  color: var(--white);
  margin-top: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.offer_section .box .detail-box a:hover {
  background-color: var(--white);
  color: var(--black);
}

.offer_section .box.offer-box1 {
  min-height: 225px;
}

.offer_section .box.offer-box1 .detail-box {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.offer_section .box.offer-box1 .detail-box h2 {
  font-size: 3rem;
}

.offer_section .box.offer-box2 .detail-box h2, .offer_section .box.offer-box3 .detail-box h2 {
  font-size: 2.5rem;
}

.product_section .box {
  margin-top: 45px;
  text-align: center;
  background-color: var(--white);
  padding: 25px;
  background-color: #fafaf7;
}

.product_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 195px;
  border-radius: 5px;
}

.product_section .box .img-box .sale-label {
    position: absolute;
    top: 10%;
    right: 0;
    color: var(--white);
    background: red;
    padding: 2px 12px;
    font-weight: 600;
}

.product_section .box .img-box img {
  max-width: 175px;
  max-height: 175px;
  transition: filter 0.3s ease;
}

.product_section .box .img-box .add-to-cart-button {
    background: var(--primary);
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product_section .box .img-box .product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(162, 155, 155, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product_section .box .img-box .product-overlay:hover {
    opacity: 1;
}

.product_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.product_section .box .detail-box .rating {
  width: 100%;
  border-bottom: 1px solid #888;
  padding-bottom: 10px;
  margin-bottom: 15px;
  color: var(--secondary);
}

.product_section .box .detail-box a {
  font-size: 18px;
  color: var(--black);
}

.product_section .box .detail-box .price {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    color: red;
    font-weight: bold;
    font-size: 1.1rem;
}

.product_section .box .detail-box .price.price_old {
    text-decoration: line-through;
    color: var(--textCol);
    font-size: 0.9rem;
}

.product_section .box .detail-box .price span {
    text-decoration: underline;
}

.product_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.product_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 0;
  border: 1px solid var(--primary);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.product_section .btn-box a:hover {
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
}

.about_section {
  position: relative;
  background-color: #ebf3fa;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  color: var(--textCol);
  margin-top: 15px;
  text-align: justify;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 5px;
  border: 1px solid var(--secondary);
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: var(--secondary);
}

.blog_section .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
  background-color: var(--primary);
  color: var(--white);
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  left: 25px;
  bottom: -15px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: var(--primary);
  margin: 0;
  text-align: center;
  border: 3px solid var(--white);
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  margin-top: 10px;
  padding: 25px;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
}

.blog_section .box .detail-box a {
  display: inline-block;
  padding: 7px 30px;
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 0;
  border: 1px solid var(--secondary);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog_section .box .detail-box a:hover {
  background-color: transparent;
  color: var(--secondary);
}

.client_section .heading_container {
  margin-bottom: 35px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  padding: 45px;
  background: linear-gradient(to right, var(--primary) 115px, var(--white) 115px);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.client_section .box .img-box {
  width: 125px;
  height: 125px;
  min-width: 125px;
  position: relative;
  margin-right: 25px;
}

.client_section .box .img-box img {
  width: 100%;
  border-radius: 100%;
  border: 5px solid var(--white);
}

.client_section .box .client_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_info .client_name h5 {
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 0;
  text-transform: uppercase;
}

.client_section .box .client_info .client_name h6 {
  margin-bottom: 0;
  color: var(--secondary);
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}

.client_section .box .client_info i {
  font-size: 24px;
  color: var(--primary);
}

.client_section .box p {
  margin-top: 25px;
}

.client_section .carousel-control-prev,
.client_section .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  opacity: 1;
  font-size: 28px;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.client_section .carousel-control-prev {
  left: 0;
}

.client_section .carousel-control-next {
  right: 0;
}

.contact_section {
  position: relative;
}

.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .row {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.contact_section .contact_list {
    list-style: initial;
    margin-left: 20px;
}

.contact_section .contact_list .contact-link {
    color: #007bff;
}

.contact_section .contact_list .contact-link:hover {
    color: #007bff;
    text-decoration: underline;
}
/* info section */
.info_section {
  background-color: var(--primary2);
  color:  var(--white);
  padding: 75px 0 60px 0;
}

.info_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_section .info_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.info_section .info_logo .navbar-brand {
  margin: 0;
  padding: 0;
}

.info_section .info_logo .navbar-brand span {
  color: var(--white);
  font-size: 36px;
}

.info_section .info_contact .link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  margin-bottom: 35px;
}

.info_section .info_contact .link-box i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border: 1px solid var(--primary2);
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 10px;
}

.info_section .info_contact .link-box:hover span {
  color: var(--secondary);
}

.info_section .info_form {
  margin-bottom: 35px;
}

.info_section .info_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 45px;
  border: none;
  padding-left: 10px;
}

.info_section .info_form form button {
  width: 45px;
  height: 45px;
  background-color: var(--primary2);
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 12px;
  margin: 0;
}

.info_section .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info_section .social-box a {
  margin: 0 5px;
  color: #ffffff;
  font-size: 20px;
}

.info_section a:hover {
  color: var(--secondary);
}

.info_section .info_more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_more a {
    color: var(--white);
    margin-left: 15px;
}

/* end info section */
/* footer section*/
.footer_section {
  position: relative;
  background-color: var(--primary2);
  text-align: center;
}

.footer_section p {
  color: #ffffff;
  padding: 20px 0;
  margin: 0;
  border-top: 1px solid #ffffff;
}

.footer_section p a {
  color: inherit;
}


/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.pagination ul {
    display: flex;
    list-style: none;
}

.pagination ul li {
    margin-right: 10px;
    font-size: 1.2rem;
}

.pagination ul li a {
    color: var(--black);
}

.pagination ul li.active {
    text-decoration: underline;
}
/* Policy */
#policy {
    margin-top: 40px;
    margin-bottom: 50px;
}

#policy h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Term */
#terms {
    margin-top: 40px;
    margin-bottom: 50px;
}

#terms h2 {
    text-align: center;
    margin-bottom: 20px;
}

#terms .terms_item {
    margin: 20px 0;
}
/* Breadcrumb */

.breadcrumb-option {
	background: var(--primary3);
	padding: 40px 0;
}

.breadcrumb__text h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a:hover {
    text-decoration: underline;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #3f2020;
	display: inline-block;
}

/*---------------------
  Shopping Cart
-----------------------*/
.shopping-cart {
    padding: 40px 0;
}

.shopping__cart__table {
	margin-bottom: 30px;
}

.shopping__cart__table table {
	width: 100%;
}

.shopping__cart__table table thead {
	border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table thead tr th {
	color: #111111;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.shopping__cart__table table tbody tr {
	border-bottom: 1px solid #f2f2f2;
}

.shopping__cart__table table tbody tr td {
	padding-bottom: 30px;
	padding-top: 30px;
}

.shopping__cart__table table tbody tr td.product__cart__item {
	width: 50%;
}

.shopping__cart__table table tbody tr td.product__cart__item a {
	width: 100%;
	height: 100%;
	display: block;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic {
	float: left;
	margin-right: 30px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__pic img {
	width: 90x;
	height: 90px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text {
	overflow: hidden;
	padding-top: 21px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h6 {
	color: #111111;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 10px;
}

.shopping__cart__table table tbody tr td.product__cart__item .product__cart__item__text h5 {
	color: #0d0d0d;
	font-weight: 700;
}

.shopping__cart__table table tbody tr td.quantity__item {
	width: 20%;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 {
	width: 80px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 input {
	width: 50px;
	border: none;
	text-align: center;
	color: #111111;
	font-size: 16px;
}

.shopping__cart__table table tbody tr td.quantity__item .quantity .pro-qty-2 .qtybtn {
	font-size: 16px;
	color: #888888;
	width: 10px;
	cursor: pointer;
}

.shopping__cart__table table tbody tr td.cart__price {
	color: #111111;
	font-size: 18px;
	font-weight: 700;
	width: 25%;
}

.shopping__cart__table table tbody tr td.cart__close i {
	font-size: 18px;
	color: #111111;
	height: 40px;
	width: 40px;
	background: #f3f2ee;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
}


.continue__btn a {
    color: #111111;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid #e1e1e1;
	padding: 14px 35px;
	display: inline-block;
}

.continue__btn a:hover {
    background-color: var(--primary);
    color: var(--white);
    transition: all 0.5s;
}

.order__btn {
    text-align: end;
}

.order__btn button {
    color: var(--white);
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	border: 1px solid var(--primary);
    background: var(--primary);
	padding: 14px 35px;
	display: inline-block;
}

.order__btn a:hover {
    background-color: var(--white);
    color: var(--black);
    transition: all 0.5s;
}

.cart__discount {
	margin-bottom: 60px;
}

.cart__discount h6 {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.cart__discount form {
	position: relative;
}

.cart__discount form input {
	font-size: 14px;
	color: #b7b7b7;
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	padding-left: 20px;
}

.cart__discount form input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.cart__discount form input::-moz-placeholder {
	color: #b7b7b7;
}

.cart__discount form input:-ms-input-placeholder {
	color: #b7b7b7;
}

.cart__discount form input::-ms-input-placeholder {
	color: #b7b7b7;
}

.cart__discount form input::placeholder {
	color: #b7b7b7;
}

.cart__discount .btn-type-order {
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	background: #111111;
	padding: 0 30px;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

.cart__total {
	background: #f3f2ee;
	padding: 35px 40px 40px;
}

.cart__total h6 {
	color: #111111;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.cart__total ul {
	margin-bottom: 25px;
}

.cart__total ul li {
	list-style: none;
	font-size: 16px;
	color: #444444;
	line-height: 40px;
	overflow: hidden;
}

.cart__total ul li span {
	font-weight: 700;
	color: #e53637;
	float: right;
}

.cart__total .primary-btn {
	display: block;
    width: 100%;
	padding: 12px 10px;
	text-align: center;
	letter-spacing: 2px;
    background: var(--primary);
    color: var(--white);
    font-weight: bold;
}

.cart__total .secondary-btn {
	display: block;
    width: 100%;
	padding: 12px 10px;
	text-align: center;
	letter-spacing: 2px;
    background: var(--secondary);
    color: var(--white);
    font-weight: bold;
}

.cart__total .cart__fee {
    display: none;
}

.cart__total .cart__fee.show {
    display: block;
}


.cart__total .btn-cancel-order {
	display: block;
    width: 100%;
	padding: 12px 10px;
	text-align: center;
    border: 1px solid var(--black);
	letter-spacing: 2px;
    background: var(--white);
    color: var(--black);
    font-weight: bold;
}

